{% extends "index.html" %}
{% load staticfiles %}
{% load cache %}

{% block cssadd %}

  {% cache 6000 'cache_ccs' %}
  <!-- Datatables -->
    <link rel="stylesheet" href="{% static "plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}">
  {% endcache %}
{% endblock %}

{% block contenido %}
  <!-- page content -->
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Lista de Alumnos</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            {% if mensaje %}
              <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                El Estudiante: <strong>{{ingresado.nombres|upper}} {{ingresado.apellidos|upper}}</strong> se le ha asigano el periodo <strong>{{ingresado.periodo}}</strong> en la sección <strong>{{ingresado.seccion}}</strong>.
              </div>
            {% endif %}
            {% if info %}
              <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                El Estudiante: <strong>{{info.nombres|upper}} {{ingresado.info|upper}}</strong> cedula <strong>{{info.cedula}}</strong> no posee ningun periodo escolar asignado.
              </div>
            {% endif %}
            <div class="x_content">
              <br />
              <table id="datatable1" class="table table-striped jambo_table dataTable no-footer" cellspacing="0" width="100%">
                <thead>
                  <tr>
                  <th>Apellidos y Nombres</th>
                  <th>Cedula</th>
                  <th>Periodos Asignados</th>
                  <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for alumno in alumnos %}
                    <tr role="row" class="even">
                      <td style="vertical-align:middle;"><a href="{% url 'datos_alumno' alumno.id %}" class="linea">{{alumno.apellidos|upper}} {{alumno.nombres|upper}} </a></td>
                      <td style="vertical-align:middle;">{{alumno.cedula}}</td>
                      <td style="vertical-align:middle;">{% for asignado in alumno.pdoescalum_set.all %}<span class="label label-success"style="font-size:0.9em">{{asignado.asignado}} - {{asignado.periodo}}</span> {% endfor %}</td>
                      <td style="vertical-align:middle;"><a href="{% url 'periodo_alumno' alumno.id %}" class="btn btn-round btn-success btn-sm" title="Matricular"><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span></a>
                      <a href="{% url 'editar_periodo' alumno.id %}" class="btn btn-round btn-primary btn-sm" title="Ver Periodos"><span class="glyphicon glyphicon-search" aria-hidden="true"> </span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
              </table> 
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
{% endblock %}

{% block jsadd %}

  {% cache 6000 'cache_js' %}
  <!-- Datatables -->
    <script src="{% static "plugins/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons/js/buttons.print.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-keytable/js/dataTables.keyTable.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
    <script src="{% static "plugins/datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
    <script src="{% static "plugins/jszip/dist/jszip.min.js" %}"></script>
    <script src="{% static "plugins/pdfmake/build/pdfmake.min.js" %}"></script>
    <script src="{% static "plugins/pdfmake/build/vfs_fonts.js" %}"></script>
  
<script>

$(document).on("ready", function(){

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if(settings.type == "POST"){
          xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
        }
      }
    });

  $('#datatable1').DataTable({
    
    language: {
          "sProcessing":     "Procesando...",
          "sLengthMenu":     "Mostrar _MENU_ registros",
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix":    "",
          "sSearch":         "Buscar:",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
              "sFirst":    "Primero",
              "sLast":     "Último",
              "sNext":     "Siguiente",
              "sPrevious": "Anterior"
          },
          "oAria": {
              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
      },
    
  });


});

</script>
{% endcache %}

{% endblock %}