{% extends "index.html" %}
{% load staticfiles %}

{% block cssadd %}

  <!-- Datatables -->
    <link rel="stylesheet" href="{% static "plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}">
{% endblock %}

{% block contenido %}
  <!-- page content -->
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Carga Academica: <strong>{{data_extra.periodo}}</strong></h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
          <div class="x_title">
              <h2>Docente: <strong>{{data_extra.docente|upper}}</strong></h2>
              <a href="{% url 'carga_xls' data_extra.docente_pk data_extra.periodo_pk  %}" class="btn btn-primary btn-lg" title="Asignar" style="float:right;"><span class="glyphicon glyphicon-save" aria-hidden="true"> </span> Descargar</a>
              <div class="clearfix"></div>
              
            </div>
            <div class="x_content">
              <br />
              <table id="datatable1" class="table table-striped jambo_table dataTable no-footer" cellspacing="0" width="100%">
                <thead>
                  <tr>
                  <th>#</th>
                  <th>Periodo</th>
                  <th>Materia</th>
                  <th>Seccion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for maestro in materias %}
                    {% for materia in maestro.materiamaestro_set.all %}
                      <tr role="row" class="even">
                        <td style="vertical-align:middle;"><strong>{{forloop.counter}}</strong></td>
                        <td style="vertical-align:middle;">{{materia.periodo}}</td>
                        <td style="vertical-align:middle;">{{materia.materia.nombre}}</td>
                        <td style="vertical-align:middle;">{{materia.seccion}}</td>
                      </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
              </table>
              
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->
{% endblock %}

{% block jsadd %}

  <!-- Datatables -->
    <script src="{% static "plugins/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-buttons/js/buttons.print.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-keytable/js/dataTables.keyTable.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "plugins/datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
    <script src="{% static "plugins/datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
    <script src="{% static "plugins/jszip/dist/jszip.min.js" %}"></script>
    <script src="{% static "plugins/pdfmake/build/pdfmake.min.js" %}"></script>
    <script src="{% static "plugins/pdfmake/build/vfs_fonts.js" %}"></script>

<script>

$(document).on("ready", function(){

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if(settings.type == "POST"){
          xhr.setRequestHeader("X-CSRFToken", $('[name="csrfmiddlewaretoken"]').val());
        }
      }
    });

  $('#datatable1').DataTable({
    
    language: {
          "sProcessing":     "Procesando...",
          "sLengthMenu":     "Mostrar _MENU_ registros",
          "sZeroRecords":    "No se encontraron resultados",
          "sEmptyTable":     "Ningún dato disponible en esta tabla",
          "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
          "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
          "sInfoPostFix":    "",
          "sSearch":         "Buscar:",
          "sUrl":            "",
          "sInfoThousands":  ",",
          "sLoadingRecords": "Cargando...",
          "oPaginate": {
              "sFirst":    "Primero",
              "sLast":     "Último",
              "sNext":     "Siguiente",
              "sPrevious": "Anterior"
          },
          "oAria": {
              "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
              "sSortDescending": ": Activar para ordenar la columna de manera descendente"
          }
      },
    
  });


});

</script>

{% endblock %}